<body>
<%= form_tag( search_hospitals_path, method: "get") do |f| %>
  <%= label_tag("State Abbreviation:") %>
  <%= text_field_tag :provider_state %>
  <%= select_tag "Procedure", options_for_select (@drg_list_array) %>
  <%= submit_tag "Search", :name => nil%>
<% end %>
</body>