<%= render 'layouts/header' %>
<body class="hospital-search">
  <h2>Search Results for <%= params[:drg_definition] %></h2>
  <h4>Sorted by Average Covered Charges</h4>

  <table id="hospital-results">
    <thead>
      <tr>
        <th>HOSPITAL NAME</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>AVERAGE COVERED CHARGES*</th>
        <th>AVERAGE TOTAL PAYMENTS*</th>
        <th>AVERAGE MEDICARE PAYMENTS*</th>
      </tr>
    </thead>
    <% @results.map do |result| %>
    <tbody>
      <tr>
        <th><%= result["provider_name"] %> </th>
        <th><%= result["provider_city"] %></th>
        <th><%= result["provider_state"] %></th>
        <th><%= number_to_currency(result["average_covered_charges"].to_i) %></th>
        <th><%= number_to_currency(result["average_total_payments"].to_i) %></th>
        <th><%= number_to_currency(result["average_medicare_payments"].to_i) %></th>
        <td><%= button_to "Favorite", action: "create", controller: "favorites", user_id: session[:user_id], provider_name: result["provider_name"], provider_street_address: result["provider_street_address"], provider_city: result["provider_city"], provider_state: result["provider_state"], provider_zip_code: result["provider_zip_code"].to_i%></td>
      </tr>
    </tbody>
    <% end %>


  </table>
  
  <h4>*Average Covered Charges: The provider's average charge for services covered by Medicare for all discharges in the DRG. These will vary from hospital to hospital because of differences in hospital charge structures.</h4>
  <h4>*Average Total Payments: The average total payments to all providers for the MS-DRG including the MS-DRG amount, teaching, disproportionate share, capital, and outlier payments for all cases.  Also included in average total payments are co-payment and deductible amount that the patient is responsible for and any additional payments by third parties for coordination of benefits.  </h4>
  <h4>*Average Medicare Payments: The average amount that Medicare pays to the provider for Medicare's share of the MS-DRG. Average Medicare payment amounts include the MS-DRG amount, teaching, disproportionate share, capital, and outlier payments for all cases. Medicare payments DO NOT include beneficiary co-payments and deductible amounts nor any additional payments from third parties for coordination of benefits.</h4>
  <h6>Source: "Medicare Fee-For Service Provider Utilization & Payment Data, Inpatient" </h6>
  <h6>http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Inpatient_Methodology.pdf</h6>
</body>