<header id="nav-header">
  <a href="/"><img src="/assets/smallH.png" id="small-h"></a>
  <ul id="nav-bar">
    <li><%= link_to("My Account", "#{user_path(session[:user_id])}", class:"my-account") if !session[:user_id].nil?%></li>
    <li><%= link_to "Search Hospitals", hospitals_path, class:"search-hospitals" if !session[:user_id].nil?%></li>
    <li><%= link_to "Join Now", new_user_path, class:"nav-right" if session[:user_id].nil? %></li>
    <li><%= link_to("Log In","/login", class:"nav-right") if session[:user_id].nil? %></li>
    <li><%= link_to("Log Out #{User.find_by(id: session[:user_id]).first_name}", "/session", method: "delete", class:"nav-right") unless session[:user_id].nil? %></li>
  </ul>
</header>

<div id="break-header">
</div>